
.feedList {
  list-style-type:  none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.scrollableContent {
  overflow-y: auto;
  max-height: 80vh;
  padding-right: 8px;
}

.scrollableContent::-webkit-scrollbar {
  width: 8px;
}

.scrollableContent::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrollableContent::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
  border-radius: 6px;
}
