.price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.price_text {
  margin: 0;
  text-align: center;
}

.price_large_text {
  margin: 0;
  text-align: center;
  font-size: 48px;
}

.price_large_icon {
  width: 36px;
  height: 36px;
}

