.section_burger_ingridients {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.burger_title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.scrollableContent {
  margin-top: 40px;
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  padding-right: 8px;
}

.scrollableContent::-webkit-scrollbar {
  width: 8px;
}

.scrollableContent::-webkit-scrollbar-button {
  display: none;
}

.scrollableContent::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrollableContent::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
  border-radius: 6px;
}

