.feedPage {
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 88px);
  overflow: hidden;
}

.feedPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;

}

.feedPageTitle {
  font-size: 36px;
}