.burgerConstructor {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 52px;
  gap: 16px;
  min-height: calc(100vh - 300px);
}

.burgerConstructorContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burgerConstructorBottoms {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  margin-top: auto;
}

.scrollableContent {
  overflow-y: auto;
  max-height: 560px;
  padding-right: 8px;
}

.scrollableContent::-webkit-scrollbar {
  width: 8px;
}

.scrollableContent::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrollableContent::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
  border-radius: 6px;
}
