.header {
    background-color: #1c1c21;
    max-width: 1920px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1320px;
    margin: 0 auto;
    min-height: 88px;
    align-items: center;
}

.header_profile {
    justify-self: end;
}

.header_logo {
    justify-self: center;
}

.header_buttons {
    display: flex;
    gap: 8px;
}